:root {
  --main-text-cl: #757575;
  --title-text-cl: #212121;
  --accent-text-cl: #2196f3;
  --nav-text-cl: #000000;
  --second-bg-cl: #2f303a;
  --second-text-cl: #ffffff;
  --third-bg-cl: #f5f4fa;
  --btn-accent-cl: #188ce8;
  --link-contact-cl: rgba(255, 255, 255, 0.6);
  --border-header: #ececec;
  --indent-grid: 30px;
  --item: 4;
  --card-text: #eeeeee;
  --icon: #afb1b8;
  --anime-basic: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: var(--main-text-cl);
  letter-spacing: 0.03em;
  line-height: 1.71;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.link {
  text-decoration: none;
  color: currentColor;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: var(--indent-grid);
}

.grid__cards {
  -ms-flex-preferred-size: calc((100% - var(--indent-grid) * (var(--item) - 1)) / var(--item));
      flex-basis: calc((100% - var(--indent-grid) * (var(--item) - 1)) / var(--item));
}

.logo {
  text-decoration: none;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.1923076923;
  letter-spacing: 0.03em;
  color: var(--accent-text-cl);
}

.button {
  font-family: "Roboto";
  background-color: var(--accent-text-cl);
  color: var(--second-text-cl);
  font-size: 16px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 700;
  line-height: 1.875;
  letter-spacing: 0.06em;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: auto;
  margin-left: auto;
  padding: 10px 32px;
  border: none;
  min-width: 200px;
  -webkit-transition: background-color 550ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 550ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button:focus, .button:hover {
  background-color: var(--btn-accent-cl);
}

.title {
  text-align: center;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1666666667;
  color: var(--title-text-cl);
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
}

.social__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: var(--icon);
  -webkit-transition: color var(--anime-basic), background-color var(--anime-basic);
  transition: color var(--anime-basic), background-color var(--anime-basic);
}

.social__icon {
  fill: currentColor;
}

.header {
  font-weight: 500;
  line-height: 1.1428571429;
  letter-spacing: 0.02em;
  border-bottom: 1px solid var(--border-header);
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  margin-right: 93px;
}

.header__logo--part {
  color: var(--nav-text-cl);
}

.header__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 50px;
}

.header__link-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  -webkit-transition: color var(--anime-basic);
  transition: color var(--anime-basic);
}
.header__link-contact:focus, .header__link-contact:hover {
  color: var(--accent-text-cl);
}

.header__icon {
  margin-right: 10px;
  fill: currentColor;
}

.hero {
  background-color: var(--second-bg-cl);
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/img17.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/img17.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  max-width: 1600px;
  margin-right: auto;
  margin-left: auto;
}

.hero__title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.3636363636;
  letter-spacing: 0.06em;
  color: var(--second-text-cl);
  text-transform: uppercase;
  width: 696px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

.nav {
  color: var(--nav-text-cl);
  margin-right: auto;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 50px;
}

.nav__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  -webkit-transition: color var(--anime-basic);
  transition: color var(--anime-basic);
}
.nav__link:focus, .nav__link:hover {
  color: var(--accent-text-cl);
}

.nav__link--current {
  position: relative;
  color: var(--accent-text-cl);
}
.nav__link--current::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--accent-text-cl);
  border-radius: 2px;
}

.about__group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 120px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: var(--third-bg-cl);
  border-radius: 4px;
  margin-bottom: 30px;
}

.about__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  text-transform: uppercase;
  color: var(--title-text-cl);
  margin-bottom: 10px;
}

.work {
  padding-top: 0;
}

.work__list {
  --item: 3;
  position: relative;
}

.work__wrap {
  position: absolute;
  min-height: 70px;
  width: 100%;
  bottom: 0;
  left: 0;
  padding: 27px;
  background-color: rgba(47, 48, 58, 0.8);
}

.work__text {
  font-weight: 700;
  font-size: 14px;
  font-style: normal;
  line-height: 1.1428571429;
  text-align: center;
  text-transform: uppercase;
  color: var(--second-text-cl);
}

.client__list {
  --item: 6;
}

.client__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 92px;
  border: 1px solid currentColor;
  border-radius: 4px;
  color: var(--icon);
  -webkit-transition: color var(--anime-basic);
  transition: color var(--anime-basic);
}
.client__logo:focus, .client__logo:hover {
  color: var(--accent-text-cl);
}

.client__icon {
  fill: currentColor;
}

.team {
  background-color: var(--third-bg-cl);
}

.team__card {
  background-color: var(--second-text-cl);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team__wrapper {
  padding: 30px;
  text-align: center;
}

.team__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1875;
  color: var(--title-text-cl);
  margin-bottom: 10px;
}

.team__proffesion {
  font-size: 16px;
  line-height: 1.1875;
  margin-bottom: 16px;
}/*# sourceMappingURL=mail.css.map */