.social {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.social__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: var(--icon);
  transition: color var(--anime-basic), background-color var(--anime-basic);
}
.social__icon {
  fill: currentColor;
}
// .footer .social__link {
//   background-color: rgba(255, 255, 255, 0.1);
//   color: var(--second-text-cl);
// }

// .social__link:hover,
// .social__link:focus {
//   color: var(--second-text-cl);
//   background-color: var(--accent-text-cl);
// }